@import "./utils/vars";
@import "./utils/mixin";
@import "./utils/breakpoint";
@import "./base/reset";
@import "./base/common";
@import "./base/card-set";
@import "./base/section";
@import "./utils/hidden";
@import "./utils/placeholders";

//COMPONENTS

@import "./components/container";
@import "./components/button";
@import "./components/logo";
@import "./components/social";
@import "./components/modal";
@import "./components/modal-form";

//LAYOUT

@import "./layout/header";
@import "./layout/header-contacts";
@import "./layout/hero";
@import "./layout/features";
@import "./layout/functions";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/footer-form";
@import "./layout/portfolio";
@import "./layout/portfolio-filter";