.clients {
    --card-item: 2;
    
    @media screen and (min-width: $tablet) {
        --card-item: 3;
    }

    @media screen and (min-width: $desktop) {
        --card-item: 6;
    }
}

.clients__link {
    @extend %flex-center;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid var(--social-icon-color);
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--social-icon-color);
    transition: border-color var(--transit-time) var(--timing-function),
    color var(--transit-time) var(--timing-function);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
        color: var(--accent-color);
    }
}

.clients__icon {
    fill: currentColor;
}