.footer__form {
    margin-left: auto;
}

.footer__input {
    min-width: 358px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    @include font(null, 16px, 1.25);
    background-color: inherit;
    color: var(--primery-bg-color);
    transition: border var(--transit-time) var(--timing-function);

    &::placeholder {
    color: var(--address-color);
    }

    &:focus,
    &:hover {
        border: 1px solid var(--accent-color);
    }
}

.footer__button {
    position: relative;
    margin-left: 12px;
    padding-left: 29px;
    padding-right: 62px;
}

.footer__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
} 