.header {
    border-bottom: 1px solid #ECECEC;

    &__container,
    &__nav {
        @media screen and (min-width: $tablet) {
            @include flex-center;
        }   
    }

    &__list {
        color: var(--title-text-color);

        @media screen and (min-width: $tablet) {
            @include flex-center;
            margin-left: 88px;
        } 
        
        @media screen and (min-width: $desktop) {
            margin-left: 93px;
        } 
    }

    &__item:not(:last-child) {
        @media screen and (min-width: $tablet) {
            margin-right: 50px;
        }  
    }
}

.header__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(500, 40px, 1.17, 0.02em);
    transition: color var(--transit-time) var(--timing-function);

    @media screen and (min-width: $tablet) {
        @include font(500, 14px, 1.14, 0.02em);

        &--current::after {
                position: absolute;
                display: block;
                left: 0;
                bottom: -1px;
                content: "";
                height: 4px;
                width: 100%;
                background-color: currentColor;
                border-radius: 2px;
            }
    }


    &:hover,
    &:focus,
    &--current {
        color: var(--accent-color);
    }
}
