.logo {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    @include font(700, 24px, 1.17);
    // @include font(700, 26px, 1.19);
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;

    @media screen and (min-width: $desktop) {
        @include font(700, 26px, 1.19);
    }
}

.logo__header--black {
    color: var(--header-logo-color);
}

.logo__footer {
    display: block;
    margin-bottom: 20px;  
}

.logo__footer--white {
    color: var(--primery-bg-color);
}