.form__title {
    margin-bottom: 12px;
    @include font(700, 20px, 1.5);
    text-align: center;
    color: var(--title-text-color);

    @media screen and (min-width: $desktop) {
        @include font(700, 20px, 1.15); 
    }
}

.form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form__label {
    margin-bottom: 4px;
    @include font(null, 12px, 1.17, 0.01em);
}

.form__input {
    padding: 12px 11px 12px 42px;
    border: 1px solid var(--form-border-color);
    border-radius: 4px;
    transition: border var(--transit-time) var(--timing-function);

    &:focus,
    &:hover {
        border: 1px solid var(--accent-color);
    }
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    display: inline-block;
    color: var(--title-text-color);
    fill: currentColor;
    transition: color var(--transit-time) var(--timing-function);

    .form__input:focus + &,
    .form__input:hover + & {
        color: var(--accent-color);
    }
}

.form__field--bigger {
    margin-bottom: 20px;
}

.form__comment {
    resize: none;
    padding: 12px 16px;
    border: 1px solid var(--form-border-color);
    border-radius: 4px;
    transition: border var(--transit-time) var(--timing-function);

    &::placeholder {
        @include font(null, 14px, 1.14, 0.01em);
        color: var(--textarea-color);
    }

    &:focus,
    &:hover {
        border: 1px solid var(--accent-color); 
    }
}

.policy {
    @extend %flex-center;
    margin-bottom: 30px;
    
    @media screen and (max-width: 1199px) {
        @include font(null, 12px, 1.17); 
    }
}

.policy__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.policy__icon {
    display: inline-block;
    min-width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 7px;
    transition: border var(--transit-time) var(--timing-function);

    .policy__checkbox:checked + & {
        background-image: url(../images/icon-check.svg);
        background-size: contain;
        background-color: #fff;
        background-origin: border-box;
        border: 2px solid var(--accent-color);
    }
    
    .policy__checkbox:focus + &,
    .policy__checkbox:hover + & {
        border: 2px solid var(--accent-color);
    }
}

.policy__link {
    color: var(--accent-color);
    white-space: nowrap;
}

.form__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 56px;
    padding-right: 55px;  
}