.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-bottom: 30px;
    @include font(null, 28px, 1.17);
    // margin-bottom: 50px;
    // @include font(null, 36px, 1.17);
    // font-size: 36px;
    // line-height: 1.17;
    text-align: center;
}