:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primery-bg-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --additional-bg-color: #F5F4FA;
    --header-logo-color: #000;
    --social-icon-color: #AFB1B8;
    --overlay-color: rgba(33, 150, 243, 0.9);
    --functions-bg-color: rgba(47, 48, 58, 0.8);
    --gradient-color: rgba(47, 48, 58, 0.4);
    --address-color: rgba(255, 255, 255, 0.6);
    --social-link-bg-color: rgba(255, 255, 255, 0.1);
    --backdrop-bg-color: rgba(0, 0, 0, 0.2);
    --textarea-color: rgba(117, 117, 117, 0.5);
    --form-border-color: rgba(33, 33, 33, 0.2);
    --hover-button-color: #188CE8;
    --card-gap: 30px;
    --card-item: 1;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transit-time: 250ms;
} 